@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif!important;
}

/* .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
  top: 142px;
  left: 650px!important;
  width: 250px;
} */